plugins:
  - skipBotEvents: false
    uses:
      - plugin: ubiquity-os-marketplace/text-conversation-rewards@development
        with:
          logLevel: "debug"
          evmNetworkId: 100
          evmPrivateEncrypted: "giLxu7IVSTpEFO89DaeCgnkKemYf2aFlK9EUQkbt71YmFOcQdIkCT8JDpX5zV5Sg1TqBeziZ486U0E3a6nD3emg0x9oeG3ILRUTlOE4I3RBZ0yTadsnV4RvewJMCMZJaYDuom-rHzog8p9InBwaHBszFeWItttSwS7o" # https://github.com/ubiquibot/conversation-rewards/pull/111#issuecomment-2348639931
          erc20RewardToken: "0xe91D153E0b41518A2Ce8Dd3D7944Fa863463a97d"
          incentives:
            requirePriceLabel: true
            contentEvaluator:
              enabled: true
              openAi:
                endpoint: https://openrouter.ai/api/v1
              multipliers:
                - role:
                    - "ISSUE_SPECIFICATION"
                  relevance: 1
            userExtractor:
              enabled: true
              redeemTask: true
            dataPurge:
              enabled: true
            reviewIncentivizer:
              baseRate: 100
              conclusiveReviewCredit: 25
            formattingEvaluator:
              enabled: true
              multipliers:
                - role:
                    - ISSUE_SPECIFICATION
                  multiplier: 1
                  rewards:
                    wordValue: 0.1
                    html:
                      br:
                        score: 0
                        countWords: true
                      code:
                        score: 5
                        countWords: false
                      p:
                        score: 0
                        countWords: true
                      em:
                        score: 0
                        countWords: true
                      img:
                        score: 5
                        countWords: true
                      strong:
                        score: 0
                        countWords: false
                      blockquote:
                        score: 0
                        countWords: false
                      h1:
                        score: 1
                        countWords: true
                      h2:
                        score: 1
                        countWords: true
                      h3:
                        score: 1
                        countWords: true
                      h4:
                        score: 1
                        countWords: true
                      h5:
                        score: 1
                        countWords: true
                      h6:
                        score: 1
                        countWords: true
                      a:
                        score: 5
                        countWords: true
                      li:
                        score: 0.1
                        countWords: true
                      ul:
                        score: 0
                        countWords: true
                      td:
                        score: 0
                        countWords: true
                      hr:
                        score: 0
                        countWords: true
                      pre:
                        score: 0
                        countWords: false
                      ol:
                        score: 0
                        countWords: true
                - role:
                    - ISSUE_AUTHOR
                    - ISSUE_COLLABORATOR
                    - PULL_COLLABORATOR
                  multiplier: 1
                  rewards:
                    wordValue: 0.1
                    html:
                      br:
                        score: 0
                        countWords: true
                      code:
                        score: 5
                        countWords: false
                      p:
                        score: 0
                        countWords: true
                      em:
                        score: 0
                        countWords: true
                      img:
                        score: 5
                        countWords: true
                      strong:
                        score: 0
                        countWords: false
                      blockquote:
                        score: 0
                        countWords: false
                      h1:
                        score: 1
                        countWords: true
                      h2:
                        score: 1
                        countWords: true
                      h3:
                        score: 1
                        countWords: true
                      h4:
                        score: 1
                        countWords: true
                      h5:
                        score: 1
                        countWords: true
                      h6:
                        score: 1
                        countWords: true
                      a:
                        score: 5
                        countWords: true
                      li:
                        score: 0.1
                        countWords: true
                      ul:
                        score: 0
                        countWords: true
                      td:
                        score: 0
                        countWords: true
                      hr:
                        score: 0
                        countWords: true
                      pre:
                        score: 0
                        countWords: false
                      ol:
                        score: 0
                        countWords: true
                - role:
                    - ISSUE_CONTRIBUTOR
                    - ISSUE_ASSIGNEE
                  multiplier: 0.25
                  rewards:
                    wordValue: 0.1
                    html:
                      br:
                        score: 0
                        countWords: true
                      code:
                        score: 5
                        countWords: false
                      p:
                        score: 0
                        countWords: true
                      em:
                        score: 0
                        countWords: true
                      img:
                        score: 5
                        countWords: true
                      strong:
                        score: 0
                        countWords: false
                      blockquote:
                        score: 0
                        countWords: false
                      h1:
                        score: 1
                        countWords: true
                      h2:
                        score: 1
                        countWords: true
                      h3:
                        score: 1
                        countWords: true
                      h4:
                        score: 1
                        countWords: true
                      h5:
                        score: 1
                        countWords: true
                      h6:
                        score: 1
                        countWords: true
                      a:
                        score: 5
                        countWords: true
                      li:
                        score: 0.1
                        countWords: true
                      ul:
                        score: 0
                        countWords: true
                      td:
                        score: 0
                        countWords: true
                      hr:
                        score: 0
                        countWords: true
                      pre:
                        score: 0
                        countWords: false
                      ol:
                        score: 0
                        countWords: true
                - role:
                    - PULL_SPECIFICATION
                    - PULL_AUTHOR
                    - PULL_ASSIGNEE
                    - PULL_CONTRIBUTOR
                  multiplier: 0
                  rewards:
                    wordValue: 0
                    html:
                      br:
                        score: 0
                        countWords: true
                      code:
                        score: 5
                        countWords: false
                      p:
                        score: 0
                        countWords: true
                      em:
                        score: 0
                        countWords: true
                      img:
                        score: 5
                        countWords: true
                      strong:
                        score: 0
                        countWords: false
                      blockquote:
                        score: 0
                        countWords: false
                      h1:
                        score: 1
                        countWords: true
                      h2:
                        score: 1
                        countWords: true
                      h3:
                        score: 1
                        countWords: true
                      h4:
                        score: 1
                        countWords: true
                      h5:
                        score: 1
                        countWords: true
                      h6:
                        score: 1
                        countWords: true
                      a:
                        score: 5
                        countWords: true
                      li:
                        score: 0.1
                        countWords: true
                      ul:
                        score: 0
                        countWords: true
                      td:
                        score: 0
                        countWords: true
                      hr:
                        score: 0
                        countWords: true
                      pre:
                        score: 0
                        countWords: false
                      ol:
                        score: 0
                        countWords: true
              wordCountExponent: 0.85
            permitGeneration: {}
            githubComment:
              post: true
              debug: false
          dataCollection:
            maxAttempts: 10
            delayMs: 1000
  - uses:
      - plugin: ubiquity-os-marketplace/ubiquity-os-kernel-telegram@development
        with:
          botId: 7543249164
          shouldUseGithubStorage: false
          storageOwner: "ubiquity-os-marketplace"
          fuzzySearchThreshold: 0.2
          aiConfig:
            kind: "OpenAi"
            model: "anthropic/claude-3.5-sonnet"
            baseUrl: "https://openrouter.ai/api/v1"
            similarityThreshold: 0.9
  - uses:
      - plugin: https://ubiquity-os-telegram-bridge-development.ubiquity.workers.dev
        with:
          botId: 7543249164
  - uses:
    - plugin: ubiquity-os-marketplace/command-ask@development
      with:
        model: "anthropic/claude-3.5-sonnet"
        openAiBaseUrl: "https://openrouter.ai/api/v1"
        similarityThreshold: 0.9
        maxDepth: 3
  - skipBotEvents: false
    uses:
      - plugin: https://ubiquity-os-command-start-stop-development.ubiquity.workers.dev
        with:
          reviewDelayTolerance: "3 Days"
          taskStaleTimeoutDuration: "30 Days"
          startRequiresWallet: true
          maxConcurrentTasks:
            collaborator: 2
            contributor: 2
          emptyWalletText: "Please set your wallet address with the /wallet command first and try again."
          rolesWithReviewAuthority:
            - "COLLABORATOR"
            - "OWNER"
            - "MEMBER"
            - "ADMIN"
          requiredLabelsToStart:
            - name: "Priority: 1 (Normal)"
              allowedRoles: ['collaborator', 'contributor']            
            - name: "Priority: 2 (Medium)"
              allowedRoles: ['collaborator', 'contributor']
            - name: "Priority: 3 (High)"
              allowedRoles: ['collaborator']
            - name: "Priority: 4 (Urgent)"
              allowedRoles: ['collaborator']
            - name: "Priority: 5 (Emergency)"
              allowedRoles: ['collaborator']
          assignedIssueScope: "org"
  - uses:
      - plugin: ubiquity-os-marketplace/text-vector-embeddings@development
        with:
          matchThreshold: 0.95
          warningThreshold: 0.75
          jobMatchingThreshold: 0.70
          alwaysRecommend: 0
  - uses:
      - plugin: https://ubiquity-os-command-query-user-development.ubiquity.workers.dev
        with:
          allowPublicQuery: true
  - uses:
      - plugin: https://ubiquity-os-daemon-pricing-development.ubiquity.workers.dev
        with:
          labels:
            time:
              - name: "Time: <15 Minutes"
                collaboratorOnly: false            
              - name: "Time: <1 Hour"
                collaboratorOnly: false
              - name: "Time: <2 Hours"
                collaboratorOnly: false
              - name: "Time: <4 Hours"
                collaboratorOnly: false
              - name: "Time: <1 Day"
                collaboratorOnly: false
              - name: "Time: <1 Week"
                collaboratorOnly: false
            priority:
              - name: "Priority: 0 (Regression)"
                collaboratorOnly: false
              - name: "Priority: 1 (Normal)"
                collaboratorOnly: false
              - name: "Priority: 2 (Medium)"
                collaboratorOnly: false
              - name: "Priority: 3 (High)"
                collaboratorOnly: false
              - name: "Priority: 4 (Urgent)"
                collaboratorOnly: false
              - name: "Priority: 5 (Emergency)"
                collaboratorOnly: false
          basePriceMultiplier: 2
          globalConfigUpdate:
            excludeRepos: []
          publicAccessControl:
            setLabel: true
            fundExternalClosedIssue: false
            protectLabels:
              - "priority"
              - "price"
              - "time"
  - uses:
      - plugin: ubiquity-os-marketplace/daemon-disqualifier@development
        with:
          warning: "7 days"
          eventWhitelist:
            - 'pull_request.review_requested'
            - 'pull_request.ready_for_review'
            - 'pull_request_review_comment.created'
            - 'issue_comment.created'
            - 'push'
          watch:
            optOut:
              - ubiquibot
              - launch-party
              - staging
              - production
          disqualification: "14 days"
          prioritySpeed: true
          pullRequestRequired: true
  - uses:
      - plugin: ubiquity-os-marketplace/daemon-merging@development
        with:
          approvalsRequired:
            collaborator: 1
            contributor: 2
          mergeTimeout:
            collaborator: "3.5 days"
            contributor: "7 days"
          repos:
            monitor: []
            ignore:
              - ubiquibot
              - launch-party
              - staging
              - production
          allowedReviewerRoles:
            - "COLLABORATOR"
            - "MEMBER"
            - "OWNER"
  - uses:
      - plugin: https://ubiquity-os-command-wallet-development.ubiquity.workers.dev
        with:
          registerWalletWithVerification: false
  - uses:
      - plugin: ubiquity-os-marketplace/daemon-pull-review
        with:
          openRouterAiModel: "anthropic/claude-3.5-sonnet"
          openRouterBaseUrl: "https://openrouter.ai/api/v1"
          tokenLimit:
            context: 200000
            completion: 4096
  - uses:
      - plugin: ubiquity-os-marketplace/personal-agent-bridge@development
  - uses:
      - plugin: ubiquity-os-marketplace/command-config@development
